<header
  class="w-full h-[64px] px-6 py-4 bg-gray-100 flex justify-between shadow-lg fixed"
>
  <!-- ========== Start Logo ========== -->
  <h1 class="text-2xl font-semibold text-center">Goodwill Business Group</h1>
  <!-- ========== End Logo ========== -->
  <!-- ========== Start Links ========== -->
  <nav>
    <ul class="hidden sm:flex sm:flex-row space-x-6">
      <li><a href="#hero" class="hover:text-gray-400">Home</a></li>
      <li><a href="#about_us" class="hover:text-gray-400">About</a></li>
      <li><a href="#products" class="hover:text-gray-400">Products</a></li>
      <li><a href="#contact" class="hover:text-gray-400">Contact</a></li>
    </ul>
  </nav>
  <!-- ========== End Links ========== -->
</header>
