<!-- <section class="w-full h-screen bg-blue-200">
  <img class="w-full h-full" src="/images/hero/hero-1.jpg" alt="hero" />
</section> -->
<section class="hero-section-bg bg-cover bg-center h-screen relative">
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-5">
    <div class="py-12">
      <h1
        class="mt-24 sm:mt-44 text-4xl sm:text-6xl font-bold text-white text-center"
      >
        Selected affordable, luxurious and modern homes and apartments.
      </h1>
      <p class="mt-6 text-lg text-white text-center">
        The best selected apartments and homes in one place.
      </p>
    </div>
  </div>
</section>
